body{font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:10px;}
body,ul,li,p,form,img {margin:0;padding:0;border:0;list-style: none;}
footer{
	width:100%;
	height:400px;
	background: #545861;
	border-bottom: 1px solid #fff;
	
}
footer .loo {
     width: 1000px; 
     height: 100px; 
    margin: 0 auto; 
     background: url(asc/logo1.jpg) no-repeat center center; 
	border-bottom: 1px solid #8c9299; 
	
}
footer .messe {
     width: 1000px; 
    margin: 20px auto 0; 
    color: #fffada; 
}

footer .messe .lt {
    width:600px;
    /*float: left;*/
    padding-left: 50px;
	box-sizing: border-box;

}
footer .messe .lt li {
   /* float: left;*/
	margin-right: 50px;

}
footer .messe .lt li input{
	width:200px;
	height:35px;
	border-radius: 5px;
	margin:10px 0 15px 0;
	padding-left: 10px;
	box-sizing:border-box;
	border:none;
}
footer .messe .lt li:last-child input{
	width:120px;
	height:31px;
	padding-left: 0;
	border:none;
	background: url(asc/but.jpg) no-repeat;
	}
footer .messe .ght{
/*	float: left;*/
}
footer .messe .ght p{
	margin-bottom: 10px;
}
footer .messe .ght textarea{
	width:400px;
	height:172px;
	padding:10px;
	box-sizing:border-box;
	resize:none;
}
a {
    color: #999;
    text-decoration: none;
}

.ban{
	width:100%;
	height:60px;
	background: #333333;
	text-align: center;
}
.ban a{line-height: 60px;}
@media all and (min-width:40em){
	.lt li{
		   width: 50%;
			list-style-type: none;
				}
	 .lt li{
		  float: left;
		   list-style-type: none;
				}
			}
	@media all and (min-width:40em) and (max-width:60em){
		 .lt li:nth-child(2n+1){
		clear: both;
		   list-style-type: none;
				 }
			}
	@media all and (min-width:60em){
		.lt li{
		  width: 33.33%;
		 list-style-type: none;
				}
	.lt li:nth-child(3n+1){
			  clear: both;
			   list-style-type: none;
				 }
			}