body{font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:14px;}
body,ul,li,p,form,img {margin:0;padding:0;border:0;list-style: none;}
footer{
	width:100%;
	height:400px;
	background: #545861;
	border-bottom: 1px solid #fff;
}
footer .loo {
     width: 1000px; 
     height: 100px; 
    margin: 0 auto; 
     background: url(https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=537073892,684541576&fm=26&gp=0.jpg) no-repeat center center; 
    border-bottom: 1px solid #8c9299; 
}
footer .messe {
     width: 1000px; 
    margin: 20px auto 0; 
    color: #fffada; 
}
footer .messe .lt {
    width: 525px;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}
footer .messe .lt li {
    float: left;
    margin-right: 30px;
}
footer .messe .lt li input{
	width:215px;
	height:32px;
	border-radius: 5px;
	margin:10px 0 15px 0;
	padding-left: 10px;
	box-sizing:border-box;
	border:none;
}
footer .messe .lt li:last-child input{
	width:120px;
	height:39px;
	padding-left: 0;
	border:none;
	background: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3814744732,2451681539&fm=26&gp=0.jpg) no-repeat;
	}
footer .messe .ght{
	float: left;
}
footer .messe .ght p{
	margin-bottom: 10px;
}
footer .messe .ght textarea{
	width:400px;
	height:172px;
	padding:10px;
	box-sizing:border-box;
	resize:none;
}
a {
    color: #999;
    text-decoration: none;
}

.ban{
	width:100%;
	height:60px;
	background: #333333;
	text-align: center;
}
.ban a{line-height: 60px;}