body
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
color: #333;
}
a
{
    color: #333;
}
a:hover
{
    color: #333;
    text-decoration: none;
}
@font-face
{
    font-family: inherit;
    src: url()format('embedded-opentype'),
    url()format('svg'),
    url()format('truetype'),
    url()format('woff');
}
.heima_icon
{
    font-family: inherit;
}
.heima_icon_phone::before
{
    content: "\908";
}
.heima_icon_tel::before
{
    content: "\909";
}
/* 顶部通栏 */
.heima_topBar
{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    position: relative;
    z-index: 1001;
}
.heima_topBar a
{
    color: #666;
}
.heima_topBar a:hover
{
    color: #666;
}
.heima_topBar>.container>.row>div
{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.heima_topBar>.container>.row>div+div
{
    border-left: 1px solid #ccc;
}
.heima_app
{
    position: relative;
    display: block;
}
.heima_app img
{
    display: none;
}
.heima_app:hover img
{
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: -60px;
}
.heima_topBar .btn-register
{
    background: #E92322;
    color: #fff;
    padding: 3px 15px;
}
.heima_topBar .btn-register:hover
{
    color: #fff;
    border-color: #E92322;
}
.heima_topBar .btn-login:hover
{
    text-decoration: none;
}
/* 导航栏 */
.heima_nva
{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}
.heima_nva .navbar-brand
{
    color: #777;
    height: 80px;
    line-height: 50px;
}
.heima_nva .navbar-brand:hover,.heima_nva .navbar-brand:focus
{
    color: #5e5e5e;
    background-color: transparent;
}
.heima_nva .navbar-text
{
    color: #777;
}
.heima_nva .navbar-nav>li>a
{
    color: #777;
    height: 80px;
    line-height: 50px;
}
.heima_nva .navbar-nav>li>a:hover,.heima_nva .navbar-nav>li>a:focus
{
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #E92322;
}
.heima_nva .navbar-nav>.active>a,
.heima_nva .navbar-nav>.active>a:hover,
.heima_nva .navbar-nav>.active>a:focus
{
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #E92322;
}
.heima_nva .navbar-nav>.disabled>a,
.heima_nva .navbar-nav>.disabled>a:hover,
.heima_nva .navbar-nav>.disabled>a:focus
{
    color: #ccc;
    background-color: transparent;
}
.heima_nva .navdar-toggle
{
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.heima_nva .navdar-toggle:hover,
.heima_nva .navdar-toggle:focus
{
    background-color: #ddd;

}
.heima_nva .navdar-toggle .icon-bar
{
    background-color: #888;
}
.heima_nva .navdar-collapsed,
.heima_nva .navbar-form
{
    border-color: #e7e7e7;
}
.heima_nva .navbar-nav>.open>a,
.heima_nva .navbar-nav>.open>a:hover,
.heima_nva .navbar-nav>.open>a:focus
{
    color: #555;
    background-color: #e7e7e7;
}
@media(max-width:767px)
{
    .heima_nva .navbar-nav .open .dropdown-menu>li> a
    {
        color: #777;
    }
    .heima_nva .navbar-nav .open .dropdown-menu>li> a:hover,
    .heima_nva .navbar-nav .open .dropdown-menu>li> a:focus
    {
        color: #333;
        background-color: transparent;
    }
    .heima_nva .navbar-nav .open .dropdown-menu>.active> a,
    .heima_nva .navbar-nav .open .dropdown-menu>.active> a:hover,
    .heima_nva .navbar-nav .open .dropdown-menu>.active>a:focus
    {
        color: #555;
        background-color: #e7e7e7;
    }
    .heima_nva .navbar-nav .open .dropdown-menu>.disabled> a,
    .heima_nva .navbar-nav .open .dropdown-menu>.disabled> a:hover,
    .heima_nva .navbar-nav .open .dropdown-menu>.disabled>a:focus
    {
        color: #ccc;
        background-color: transparent;
    }

}
.heima_nva .heima-likn
{
    color: #777;
}
.heima_nva .heima-likn:hover
{
    color: #333;
}
.heima_nva .btn-likn
{
    color: #777;
}
.heima_nva .btn-likn:hover,
.heima_nva .btn-likn:focus
{
    color: #333;
}
.heima_nva .btn-likn[disabled]:hover,
fieldset[disabled] .heima_nva .btn-likn:hover,
.heima_nva .btn-likn[disabled]:focus,
fieldset[disabled] .heima_nva .btn-likn:focus
{
    color: #ccc;
}
/* 轮播图 */
.pc_imageBox
{
    height: 410px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.m_imageBox
{
    width: 100%;
    display: block;
}
.m_imageBox img
{
    width: 100%;
    display: block;
}